NODE_ENV=test

DB_HOST=localhost
DB_PORT=5432
DB_NAME=caselab_test
DB_USER=caselab
DB_PASSWORD=your_test_password

DB_POOL_MIN=0
DB_POOL_MAX=2
DB_POOL_IDLE_MS=1000
DB_POOL_ACQUIRE_MS=5000

JWT_ACCESS_SECRET=replace_with_at_least_32_random_characters
ACCESS_TOKEN_TTL=15m

REFRESH_TOKEN_TTL_DAYS=7
REFRESH_COOKIE_NAME=refreshToken

BCRYPT_ROUNDS=12

LOGIN_RATE_LIMIT_WINDOW_MS=900000
LOGIN_RATE_LIMIT_MAX=5
